extends base
- var current_title = page.title || tag.name || category.name || site.title

block main

  article
    .container.entries
      for post in page.posts.toArray()
        .entry
          span.post-time= post.date.format(config.date_format)
          a.post-title(href=url_for(post.path))
              = post.title
          .post-tags
            for tag in post.tags.toArray()
              a.post-tag(href=url_for(tag.path))= tag.name
