extends base
block title
  title= page.title + " | " + config.title


block main
  .wrapper
    .container.post-header
      h1: = page.title
  article
    .container.post
      != page.content
    if page.comments
      .container
        hr
        include _partial/comments
