extends base

block main

  .wrapper
    .container.post-header
      h1: = page.title

  .wrapper
    .container.meta
      .post-time= page.date.format(config.date_format)
      .post-tags
          if page.tags
              for tag in page.tags.toArray()
                  a.tag(href=url_for(tag.path))= tag.name

  article
    .container
      != page.content

  footer
    .container
      .bar
      .footer= '© '
        a(href='/', rel='nofollow')= config.title + '.'
        |  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
