extends base

block title
  title= page.title + " | " + config.title

block main

  // gallery that comes before the header
  if page.photos
     if page.photos.length
      .article-gallery
        .article-gallery-photos.container
          for photo in page.photos
            a.article-gallery-img.fancybox(href=url_for(photo), rel="gallery_" + page._id)
              img(src=url_for(photo), itemprop="image")

  .wrapper
    .container.post-header
      h1: = page.title

  .wrapper
    .container.meta
      .post-time= page.date.format(config.date_format)
      if (page.categories && page.categories.length)
        .post-categories
          != list_categories(page.categories, {show_count: false, class: 'post-category', style: 'none', separator: '>'})
      if (page.tags && page.tags.length)
        .post-tags
          != list_tags(page.tags, {show_count: false, class: 'post-tag', style:'none', separator:'/'})


  article
    .container.post
      != page.content

    // comment system
    .container
      hr
      include _partial/comments

