// define variables

$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$color-background: white;
$color-border: #CCC;
$color-link: blue;
