// define variables

$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$font-blog-title: "Comic Sans MS", cursive, LiSu, sans-serif;
$font-post-title: "Titillium Web","Helvetica Neue",Helvetica, Arial,"Microsoft Yahei",sans-serif;
$font-header: 'Helvetica Neue', "Microsoft Yahei","微软雅黑", "WenQuanYi Micro Hei", SimHei, Heiti, Impact, Charcoal, serif;
$font-content: Helvetica, Tahoma, Arial, STXihei, "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Heiti, ubuntu, sans-serif;

$font-size-main: 16px;
$font-size-code: 16px;
$line-height: 1.6em;
$line-height-title: 1.1em;

// colors
$color-background: white;
$color-border: #CCC;
$color-link: blue;
$color-near-white: #FAFAFA;
$color-underscore: #5DB1B4;
$color-main-link: #368CCB;
$color-main-link-hover: #2A64C8;


// width height
$article-padding: 1em;
$vertical-bar-width: 6px;


.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
