// define variables

$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$font-blog-title: "Comic Sans MS", cursive, LiSu, "隶书", sans-serif;
$font-post-title: "Titillium Web","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei",sans-serif;
$font-header: 'Helvetica Neue', "WenQuanYi Micro Hei", "文泉驿微米黑", Heiti, "黑体", sans-serif;
$font-content: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "文泉驿微米黑", "宋体", Heiti, "黑体", sans-serif;
$color-background: white;
$color-border: #CCC;
$color-link: blue;

// width height
