@import "_variables";

/**
 * reset global
 */
html, body {
    margin: 0;
    font-size: $font-size-main;
}

/**
 * Global settings of layout
 */

.container {
    margin: auto;
    width: 100%;
    max-width: 720px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333;
    font-family: $font-content;
}

article {
    flex: 1;
}

/**
 * header
 */
header {
    padding: 1em 0;

    background: #333;
    color: #F1F1F1;

    .container{
        font-family: $font-blog-title;
        border-bottom: .3em solid #333;

        .title {
            color: #EEE;
            text-decoration: none;
            font-size: 2.4em;
        }
        .subtitle {
            color: #aaa;
            font-size: 1.4em;
            margin-left: 1.2em;
        }
    }
}

/* navigation bar */
nav {
    top: 0;
    position: sticky;
    background: #333;
    font-family: $font-mono;
    font-size: 1em;
    z-index: 10;
}

#nav {
    text-align: right;

    a {
        &, &:visited {
            text-decoration: none;
            color: #F1F1F1;
        }

        padding: .625em 1.25em;
        display: inline-block;
        position: relative;

        // decoration
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -3px;
            top: 19px;
            height: 6px;
            width: 6px;
            background: white;
            opacity: 0.5;
        }

        // for hover style
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 0;
            background: $color-underscore;
            transition: width .25s;
        }

        &.active, &:hover {
            &::before {
                width: 100%;
            }
        }

        &:last-child::after {
            display: none;
        }
    }

    // TODO: add hover style
}

#header-margin-bar {
    margin: 20px 0;
}

/* post entries */
$entry-item-padding: .5ex;
.entry {
    display: flex;

    padding: 0 0 2px 0;

    // setup padding for entry items
    .post-time, .post-title, .post-tag {
        padding: $entry-item-padding 0;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        outline: none;
    }

    .post-time {
        background: #444;
        color: #F1F1F1;
        padding-left: .32em;
        padding-right: .32em;

        font-family: $font-mono;
        font-size: 85%;

        border-radius: 5px 0 0 5px;
    }

    &:hover .post-time {
        //background: #5858B0;
        background: #BBB;
        color: #333;
    }

    .post-title {
        flex: 1;
        padding-left: 1em;
        background: $color-near-white;

        text-decoration: none;

        &, &:visited {
            color: #333;
        }
    }

    &:hover {
        .post-title, .post-tags {
            background: #EEE;
        }
    }

    /* breadcrumb style for tags, inverse */
    .post-tags {
        display: flex;

        padding-left: 1.49em;
        overflow: hidden;

        // same color as post-title
        background: $color-near-white;
    }

    $tag-height: 3.2ex + 2*$entry-item-padding + 0.1ex;

    a.post-tag {
        position: relative;
        text-align: center;
        text-decoration: none;
        padding-left: calc(#{$tag-height} * 0.414);
        padding-right: calc(#{$tag-height} * 0.707);
        min-height: 3ex;

        &:last-child {
            padding-right: .5em;
            border-radius: 0 5px 5px 0;
        }

        //&:first-child::before {
            //content: none;
        //}

        &::before {
            border-radius: 0 100% 5px 0;
            box-shadow: -2px 2px 0 2px rgba(255, 255, 255, 0.3), -3px 3px 0 2px rgba(0, 0, 0, 0.1);
            content: "";
            height: $tag-height;
            width: $tag-height;
            left: calc(-#{$tag-height}/2);
            top: 0;
            position: absolute;
            transform: scale(0.707) rotate(45deg);
        }

        &, &::before {
            background: #444;
            color: white;
        }

        &:hover, &:hover::before {
            background: #BBB;
            color: #2F6EB6;
        }
    }
}

/* post entries, version 2*/

// vertical bar
#index-main.container {
    position: relative;
    box-sizing: border-box;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 6px;
        background: #666; // #333 with opacity 0.75
    }
}

$outer-circle-radius: 10px;
$inner-circle-radius: 8px;

.post-entry {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.5em 0;
    position: relative;
    display: flex;
    align-items: center;

    .post-time {
        flex: none;
        font-family: $font-mono;
        font-size: 0.875rem;
        margin-right: 1rem;
        position: absolute;
        right: 100%;

        color: #CCC;
        transition: color .2s ease-in-out;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: calc(100% + 1rem + #{$vertical-bar-width}/2 - #{$outer-circle-radius});
            top: calc(50% - #{$outer-circle-radius});
            background: #666; // #333 with opacity 0.75
            border-radius: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: calc(100% + 1rem + #{$vertical-bar-width}/2 - #{$inner-circle-radius});
            top: calc(50% - #{$inner-circle-radius});
            background: #FCF9E8;
            border-radius: 100%;
            transition: background-color .2s ease-in-out;
        }
    }

    &:hover {
        .post-time{
            //border-bottom: 2px solid $color-underscore;
            color: #666;

            &::after {
                background: #A1EFE9;
            }
        }
    }

    .post-desc {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: calc(1rem + #{$vertical-bar-width});

        .post-title, .post-tags, .post-categories, .post-description {
            flex: none;
            flex-basis: 100%;
        }

        // style for post-title
        .post-title {
            border-bottom: 1px solid #EEE;
            transition: border-color .2s ease;
            font-weight: 600;
            font-size: 1.2em;

            &:hover {
                border-bottom: 1px solid #666;
            }

            a {
                color: #333;
                text-decoration: none;
                border: none;
            }
        }

        // style for post-tags
        .post-tags {
            text-align: right;
            color: #666;
            opacity: .6;
            transition: opacity .3s ease-in-out;

            &:hover {
                opacity: 1;
            }

            &::before {
                content: "\f02c";
                font-family: FontAwesome;
            }

            a{
                text-decoration: none;
                outline: none;
                color: #666;
                margin: 0 .6rem;
                &:hover {
                    color: #333;
                    border-bottom: 2px solid #666;
                }

                // add decoration
                position: relative;
                transition: border .2s ease-in-out;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: calc(100% + .3rem + 3px);
                    top: calc(50% - 3px);
                    height: 6px;
                    width: 6px;
                    background: #666;
                    opacity: 0.5;
                }

                &:last-child::after{
                    content: none;
                }
            }
        }

        // style for post-categories
        .post-categories {
            @extend .post-tags;

            &::before {
                content: "\f07b";
            }
        }

        // style for post description
        .post-content {
            padding-left: 2em;

            p {
                margin: 0.6em 0 0 0;
            }
        }
    }
}

/* paginator */
.page-navigator {
    margin: 3.5ex 0;
    overflow: hidden;
    text-align: center;
    border: 1px solid #DDD;
    color: #777;

    * {
        padding: 1px 20px;
    }

    .page-number {
        display: inline-block;
    }

    .current {
        color: #2F6EB6;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }


    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            background: #BBB;
            color: #2F6EB6;
        }
    }
}


/**
 * footer
 */

footer#footer {
    text-align: right;
    margin-top: 2em;
    background: #333;

    &, & a, & a:visited {
        color: white;
    }

    .footer {
        padding: 1em 0;
    }
}


/**
 * main content style
 */
.post-header h1 {
    font-family: $font-post-title;
    font-size: 2em;
}

/* post header meta data(time/tag) */
.wrapper .meta {
    display: flex;
    background: #333;
    color: #EEE;
    box-sizing: border-box;
    padding: 0 20px;

    .post-time {
        opacity: 0.8;
        margin-left: 1em;
    }

    .post-tags {
        flex: 1;

        a.tag {
            position: relative;
            padding: 3px 10px;
            background: $color-underscore;
            text-decoration: none;

            color: rgba(60,60,60,0.8);

            &:hover {
                z-index: 1;
                transition: box-shadow .3s;
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
            }
        }
    }

    .post-categories a.category {
        background: $color-underscore;
        text-decoration: none;
        color: rgba(60,60,60,0.8);
        padding: 0 5px;
        &:hover {
            z-index: 1;
            transition: box-shadow .3s;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        }
    }
}


article {
    /* global */
    font-size: 18px;
    line-height: 1.75;

    .entry {
        font-size: 16px;
    }


    /* headers */
    h1,h2,h3,h4,h5,h6 {
        font-family: $font-header;
        font-weight: 600;
    }

    h1 {
        border-bottom: 2px solid #333;
        padding: 3px 0;
        font-size: 2em;
    }

    h2 {
        border-bottom: 1px solid #CCC;
    }

    // rule
    hr {
        border-top: 3px dashed #878787;
        border-bottom: none;
    }

    // link
    a {
        color: $color-main-link;
        text-decoration: none;
        opacity: 0.9;

        transition: border .2s;
        transition: color .2s;
        border-bottom: .08em solid lightgray;
        &:hover {
            opacity: 1;
            border-bottom: .08em solid $color-main-link-hover;
            color: $color-main-link-hover;
        }
    }

    // ignore border-bottom for code blocks
    .post .highlight a {
        border: none !important;
    }

    // blockquote
    blockquote {
        margin: 1em 0;
        padding: 0 $article-padding;
        border-left: 5px solid $color-underscore;

        // block footer
        footer {
            font-size: 85%;
            cite::before {
                content: "—";
                padding: 0 0.5em;
                font-style: italic;
            }
        }
    }

    blockquote.pullquote.left {
        border: none;
        margin: 0 1em 0 .5em;
        width: 45%;
    }

    blockquote.pullquote.right {
        border: none;
        margin: 0 .5em 0 1em;
        width: 45%;
    }

    .left, .alignleft {
        float: left;
    }

    .right, .alignright {
        float: right;
    }

    // image
    img, video{
        display: block;
        height: auto;
        margin: auto;
        max-width: 100%;
        border: none;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    }

    .video-container {
        position: relative;
        padding-top: 56.9%; // 16:9
        height: 0;
        overflow: hidden;
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            margin-top: 0;
        }
    }

    // cancel dangling list for the first level
    ol, ul {
        padding-left: 0;
        ol, ul {
            padding-left: 40px;
        }
    }

    // list
    li p {
        margin-top: 0;
        margin-bottom: 0;
    }

    // inline code
    code {
        border: 1px solid #BBB;
        background: #EEE;
        font-size: 14px;
    }

    // table
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        vertical-align: middle;

        th {
            text-align: left;
            background: #333;
            color: #EEE;
        }

        th, td {
            padding: 5px 8px;
            border: 1px solid #ddd;
        }

        tr:nth-child(2n) {
            background-color: #f2f2f2;
        }
    }
}

// fancybox
.article-gallery a.article-gallery-img {
    width: 100%;
    display: none;

    &:first-child {
        display: block;
    }

    img {
        width: 100%;
    }
}

// archive/category/tags page
.post-archive {
    // reset list indentation
    ol, ul {
        padding-left: 40px;
    }

    li .date {
        margin-right: 1em;
    }
}
